html {
	scroll-behavior: smooth;
}

body {
	color: var(--text-dark-2);
	font-family: var(--font);
	@include adaptiveValue("font-size", 16, 14);
	font-weight: 300;

	.opened-menu & {
		overflow-y: hidden;
	}
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 0 auto;

	&__hero {
		@include adaptiveValue("margin-bottom", 130, 60);
	}
}

.container {
	padding: 0 rem(math.div($container-padding, 2));
	max-width: rem($real-container-width);
	margin: 0 auto;
}

.wide-container {
	padding: 0 rem(math.div($container-padding, 2));
	max-width: rem(1440);
	margin: 0 auto;
}