$min-width: 390;
$max-width: 1920;
$container-padding: 40;
$container-width: 1180;
$real-container-width: $container-padding + $container-width;

:root {
	--font: 'Museo Sans Cyrl', sans-serif;
	--font-accent: 'Evolventa', sans-serif;

	--bg-dark: #151612;
	--bg-light: #F2F3F7;
	--text-dark-1: #000;
	--text-dark-2: #151612;
	--text-light: #fff;
	--accent: #D2FE67;

	--border-radius: #{rem(20)};

	--duration: .2s;
}