:root {
	--container-width: #{rem(1230)};
	--container-padding: #{rem(15)};

	--font-main: 'Poppins', sans-serif;
	--font-accent: 'Playfair Display', serif;

	--page-bg: #fff;
	--text-color: #000;
	--white-text-color: #fff;
	--accent: #ac182c;

    --laptop-size: #{rem(1199)};
	--tablet-size: #{rem(959)};
	--mobile-size: #{rem(599)};
}