.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 rem(15);
	@include adaptiveValue("height", 68, 50);
	font-family: var(--font-accent);
	color: #1A1B16;
	font-weight: 700;
	@include adaptiveValue("font-size", 20, 14);
	line-height: 1.4;
	background: var(--accent);
	border-radius: calc(var(--border-radius) / 2);
	transition: background var(--duration);

	@media (any-hover: hover) {
		&:hover {
			background: #E5FFA5;
		}
	}

	&:active {
		background: #CAF267;
	}
}

.btn-mini {
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 100%;
	height: rem(50);
	background: #000;
	border-radius: rem(6);
	padding: 0 rem(15);

	color: var(--text-light);
	font-size: rem(20);
	line-height: 1.4;
	font-weight: 500;
}