.footer {
	background-color: #e3deee;
	border: 1px solid var(--text-color);
	padding: rem(60) 0;
	font-size: rem(32);

	h1 {
		font-size: rem(32);
	}

	@media (max-width: rem(1200)) {
		font-size: rem(26);
	}
}