.request-popup {
	@include adaptiveValue("padding-top", 50, 10);
	@include adaptiveValue("padding-right", 100, 10);
	@include adaptiveValue("padding-bottom", 50, 20);
	@include adaptiveValue("padding-left", 40, 10);
	background-color: var(--bg-light);
	border-radius: var(--border-radius);
	border: 1px solid rgba(0, 0, 0, 0.70);
	display: grid;
	grid-template-columns: minmax(auto, 1fr) minmax(rem(300), 1.05fr);
	align-items: center;
	row-gap: rem(20);
	@include adaptiveValue("column-gap", 50, 20, $real-container-width, 768);

	@media (max-width: rem(768)) {
		grid-template-columns: auto;
		@include adaptiveValue("padding-right", 50, 10);
	}

	&__offer {
		border-radius: var(--border-radius);
		background: var(--accent);
		@include adaptiveValue("padding-top", 30, 10);
		@include adaptiveValue("padding-right", 22, 10);
		@include adaptiveValue("padding-bottom", 67, 20);
		@include adaptiveValue("padding-left", 30, 18);

		&-title,
		&-subtitle {
			color: #1A1B16;
			font-family: var(--fort-accent);
			font-weight: 700;
			line-height: 1.3;
		}

		&-title {
			@include adaptiveValue("font-size", 40, 20);
			@include adaptiveValue("padding-bottom", 60, 20);
			@include adaptiveValue("margin-bottom", 60, 20);
			position: relative;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 1px;
				background: rgba(21, 22, 18, 0.50);
			}
		}

		&-subtitle {
			@include adaptiveValue("font-size", 24, 18);
			@include adaptiveValue("margin-bottom", 20, 10);
		}

		&-list {
			color: rgba(0, 0, 0, 0.50);
			@include adaptiveValue("font-size", 24, 16);
			font-weight: 500;
			line-height: 1.83;
		}

		&-item {
			display: flex;
			gap: em(16, 24);

			&::before {
				content: '';
				display: block;
				width: em(7.5, 24);
				height: em(7.5, 24);
				background: rgba(0, 0, 0, 0.50);
				border-radius: 50%;
				margin-top: em(19, 24);
			}
		}
	}

	&__form {}

	&__title {
		color: #1A1B16;
		font-family: var(--fort-accent);
		@include adaptiveValue("font-size", 32, 18);
		font-weight: 700;
		line-height: 1.3;
		@include adaptiveValue("margin-bottom", 20, 10);
	}

	&__input {
		width: 100%;
		display: block;
		border-radius: rem(6);
		border: 1px solid rgba(0, 0, 0, 0.30);
		background: #FFF;
		@include adaptiveValue("padding-top", 13, 8);
		@include adaptiveValue("padding-right", 19, 9);
		@include adaptiveValue("padding-bottom", 13, 8);
		@include adaptiveValue("padding-left", 19, 9);
		margin-bottom: rem(20);
	}

	&__err {
		border-radius: rem(6);
		border: 1px solid rgba(240, 104, 104, 0.3);
		@include adaptiveValue("padding-top", 13, 8);
		@include adaptiveValue("padding-right", 19, 9);
		@include adaptiveValue("padding-bottom", 13, 8);
		@include adaptiveValue("padding-left", 19, 9);
		@include adaptiveValue("margin-top", 40, 0);
		@include adaptiveValue("margin-bottom", -40, -8);
	}

	&__btn {
		@include adaptiveValue("margin-top", 60, 20);
		@include adaptiveValue("margin-bottom", 40, 20);
	}

	&__text {
		color: #323843;
		@include adaptiveValue("font-size", 14, 10);
		line-height: 1.4;

		a {
			color: #4B7AD8;
		}
	}
}