.thank-popup {
	width: 100%;
	max-width: rem(780);
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: rem(30);
	background-color: var(--bg-light);
	border-radius: var(--border-radius);
	border: 1px solid rgba(0, 0, 0, 0.70);
	padding: rem(15);
	@include adaptiveValue("padding-top", 40, 30);
	@include adaptiveValue("padding-bottom", 40, 30);

	img {
		@include adaptiveValue("width", 102, 66);
	}

	&__title {
		color: #1A1B16;
		text-align: center;
		font-family: var(--font-accent);
		@include adaptiveValue("font-size", 40, 24);
		font-weight: 700;
		line-height: 1.3;
		max-width: rem(465);
	}

	&__btn {
		max-width: rem(110);
	}
}