@import "./page/hero";
@import "./page/founder";
@import "./page/profession";
@import "./page/knowledge";
@import "./page/payback";
@import "./page/features";
@import "./page/contact";
@import "./page/freelance";
@import "./page/cases";
@import "./page/process";
@import "./page/testimonials";
@import "./page/program";
@import "./page/options";
@import "./page/try";
@import "./page/questions";