@use "sass:math";

/* Base */
@import "./base/reset";
@import "./base/mixins";
@import "./base/vars";
@import "./base/libs";
@import "./base/fonts";
@import "./base/base";
@import "./base/utils";

/* Blocks */
@import "./blocks/*.scss";

/* Template */
@import "./page/header";
@import "./page/footer";

/* Pages */
@import "./home";